# Ignore everything
/*

# Except these files & folders
!/src
!index.html
!package.json
!tsconfig.json
!tsconfig.node.json
!next.config.ts
!.prettierrc
!README.md
!CHANGELOG.md
!.eslintrc.cjs
!/prisma/seed.ts